.container {
  padding: 40px 0;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.subHeading {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.aboutText {
  text-align: center;
  font-size: 1.1rem;
}

.skillCard {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  background-color: #f8f9fa;
  border: none;
}

.cardBody {
  padding: 20px;
}

.skillTitle {
  text-align: center;
  font-size: 18px;
}

.button {
  width: 100%; /* Ensure both buttons are full width */
  padding: 10px 0; /* Adjust padding as needed */
}
