.container {
  background-color: black;
  color: white;
  padding: 20px;
  animation: smoothDarkGradientBackground 30s ease infinite;
  background-size: 400% 400%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes smoothDarkGradientBackground {
  0% {
    background: linear-gradient(
      135deg,
      #000000,
      #0a0a0a,
      #141414,
      #1e1e1e,
      #282828
    );
    background-position: 0% 50%;
  }
  50% {
    background: linear-gradient(
      135deg,
      #282828,
      #1e1e1e,
      #141414,
      #0a0a0a,
      #000000
    );
    background-position: 100% 50%;
  }
  100% {
    background: linear-gradient(
      135deg,
      #000000,
      #0a0a0a,
      #141414,
      #1e1e1e,
      #282828
    );
    background-position: 0% 50%;
  }
}

.h1 {
  text-align: center;
  margin-bottom: 40px;
}

.h2 {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 500px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.inputField,
.textareaField {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background: #222;
  color: white;
  width: 100%;
  font-size: 1rem;
}

.inputField:focus,
.textareaField:focus {
  border-color: #999;
  outline: none;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.button:hover {
  opacity: 0.8;
}

.whatsappContainer {
  margin-bottom: 40px;
  text-align: center;
  width: 40%;
}

.buttonwhap {
  width: 100%; /* Ensure both buttons are full width */
  padding: 10px 0; /* Adjust padding as needed */
}

.whatsappMessage {
  color: #ccc;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.emailContainer {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.submitButton {
  margin-top: 10px;
  background: none;
  color: white;
  border: 1px solid #fff;
}

@media (max-width: 768px) {
  .whatsappContainer {
    margin-bottom: 40px;
    text-align: center;
    width: 70%;
  }
}
