.mainContent {
  flex: 1;
  padding: 20px;
  color: white;
  background-color: #020302;
}

.text p {
  font-size: 1.2em;
}

.text h2 {
  font-size: 2em;
}

button {
  width: 50%;
}

@media (max-width: 768px) {
  .text p {
    font-size: 0.8em;
  }

  .text h2 {
    font-size: 1em;
  }

  .image img {
    width: 80%;
  }

  button {
    width: 50%;
  }
}
