.container {
  background-color: black; /* Fallback color for older browsers */
  color: white;
  padding: 20px;
  animation: smoothDarkGradientBackground 30s ease infinite;
  background-size: 400% 400%;
}

@keyframes smoothDarkGradientBackground {
  0% {
    background: linear-gradient(
      135deg,
      #0d0d0d,
      #1a1a1a,
      #333333,
      #4d4d4d,
      #666666
    );
    background-position: 0% 50%;
  }
  50% {
    background: linear-gradient(
      135deg,
      #666666,
      #4d4d4d,
      #333333,
      #1a1a1a,
      #0d0d0d
    );
    background-position: 100% 50%;
  }
  100% {
    background: linear-gradient(
      135deg,
      #0d0d0d,
      #1a1a1a,
      #333333,
      #4d4d4d,
      #666666
    );
    background-position: 0% 50%;
  }
}

.h1 {
  text-align: center;
  margin-bottom: 40px;
}

.cardTitle {
  font-size: 2rem;
}

.card {
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-5px);
}

.cardBody {
  background-color: black;
  color: white !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonsContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .buttonsContainer {
    flex-direction: column;
  }
}
